<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/stylesheets/reset.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css" type="text/css" media="screen" charset="utf-8"/>
    <title>Donefy</title>
  </head>
  <body>
    <div class="content">

      <div class="header">
        <div>
          <h3>donefy / redu-dev</h3>
          <h2>Sprint atual: 20 nov a 01 dez</h3>
        </div>
        <div>
          <a href="#">Sprint atual</a>
          <a href="#">Histórico</a>
        </div>
      </div>

      <div>
        <span>2 tarefas num total de esforço XX.</span>
        <span>Restam 10 dias para o fim da sprint.</span>
        <a href="">Burndown</a>
      </div>

      <div>

        <table>
          <tr>
            <th class="story-header">story</th>
            <th class="todo-header">to do</th>
            <th class="inprogress-header">in progress</th>
            <th class="verify-header">verify</th>
            <th class="done-header">done</th>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>

            </td>
            <td>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>

            </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

        </table>
      </div>

      <div class="footer">
        <img src="" />
        <span class="company-info">© 2010-2012. CNPJ: 12.359.885/0001-07</span>
      </div>
    </div> <!-- end content -->

</body>
</html>
